<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ss</title>
</head>
<body>


<p><b>Results</b></p>
<form class="log" action="software" method="POST">
<input type="hidden" name="act" value="create-text">
<input type="hidden" name="id" value="0">
<input type="hidden" name="name" value="Log Parser Results">
<table class="table">
<tr>
<th id="ip-th">IP Addresses (0)</th>
<th id="btc-th">BTC Wallets (0)</th>
<th id="bank-th">Bank Accounts (0)</th>
<tr>
<td><textarea name="" class="logarea" rows="10" id="extracted-ips"></textarea></td>
<td><textarea rows="10" id="extracted-btc"></textarea></td>
<td><textarea rows="10" id="extracted-banks"></textarea></td>
</table>
</form>

</body>
</html>